PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=mybitcoin
DB_USER=postgres
DB_PASSWORD=postgres
DB_POOL_SIZE=10


NODE_ENV=production

# gRPC — traces e metrics
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:14317

# HTTP — logs (via Collector → Loki)
OTEL_EXPORTER_OTLP_HTTP_ENDPOINT=http://localhost:14318
OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic b3RlbDpvYnNlcnZhYmlsaXR5MTIz


OTEL_SERVICE_NAME=my-nestjs-app
PORT=3000
