apiVersion: v1
kind: Secret
metadata:
  name: mybitcoin-api-homolog-secret
  namespace: default
type: Opaque
stringData:
  # Adicione as variáveis de ambiente sensíveis aqui
  DATABASE_URL: postgres://user:password@host:5432/db_homolog
  SECRET_KEY: change-me-homolog
